.cardCard {
  margin: 2em;
  background: #e8eaf6;
}

.cardHeading {
  background: #3f51b5;
  min-height: 4em;
  line-height: .5em;
  font-size: 1.2rem;
  color: white;
  padding: 2em;
}

.cardContent {
  padding: 2em;
}

.aboutMain {
  display: flex;
}

.aboutMain img {
  width: 10em;
  max-height: 10em;
  border: .25em solid black;
  border-radius: 2em;
}