.blogCard {
  margin: 2em;
  background: #e8eaf6;
  border-radius: 3em 3em 2em 2em;
}

.blogCardHeading {
  background: #3f51b5;
  min-height: 4em;
  line-height: .5em;
  font-size: 1.2rem;
  color: white;
  padding: 2em;
  border-radius: 2em 2em 0 0;
}

.blogCardContent {
  padding: 2em;
}