.cardCard {
  margin: 2em;
  background: #e8eaf6;
}

.cardCard img {
  max-width: auto;
  max-height: 10em;
  border: .25em solid black;
  border-radius: 2em;
}

.cardHeading {
  background: #3f51b5;
  min-height: 4em;
  line-height: .5em;
  font-size: 1.2rem;
  color: white;
  padding: 2em;
}

.cardContent {
  padding: 2em;
}

/* NEWLY ADDED */
.contact-me-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2em;
}

.contact-me-section a img {
  height: 8vh;
  width: 8vh;
  border-radius: 10%;
}