.cardCard {
  margin: 2em;
  background: #e8eaf6;
}

.cardCard img {
  max-width: auto;
  max-height: 10em;
  border: .25em solid black;
  border-radius: 2em;
}

.cardHeading {
  background: #3f51b5;
  min-height: 4em;
  line-height: .5em;
  font-size: 1.2rem;
  color: white;
  padding: 2em;
}

.cardContent {
  padding: 2em;
}

/* NEWLY ADDED */
.contactContainer p {
  margin: 2em;
}

.form {
  margin: 2em;
}

.form input {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}