.header {
  background: linear-gradient(#FFFDD0, black);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* text-decoration: underline; */
}

.header a:hover {
  color: linear-gradient(white, #FFFDD0);
}

.header a h1 {
  margin: 0;
  padding-top: 1vh;
  text-align: center;
  color: #bdbdbd;
  font-size: 3rem;
}

.header a h1:hover {
  margin: 0;
  padding-top: 1vh;
  text-align: center;
  color: #bdbdbd;
  font-size: 3rem;
}