.header {
  background: #424242;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header img {
  max-width: 10em;
  max-height: auto;
  border: .25em solid black;
  border-radius: 5em;
}

.header a h1 {
  margin: 0;
  padding-top: 1em;
  text-align: center;
  color: #bdbdbd;
  font-size: 3rem;
}
