.navCard {
  /* margin: 2em; */
  /* background: #e8eaf6; */
  background: black;
  border: 1px solid #FFFDD0;
  /* background: linear-gradient(white, black);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
}

.navHeading {
  /* background: #9a74db; */
  min-height: 4em;
  line-height: 1em;
  font-size: 1.2rem;
  color: #FFFDD0;
  padding: 0 2em;
}

.navHeader a:hover {
  opacity: 100%;
}

.navHeader {
  transition: transform 0.2s;
  transition: background-color 1s ease-out 100ms;
}

.navHeader a:hover {
  transform: scale(1.025);
  /* background-color: #e8eaf6; */
  /* background-color: linear-gradient(white, black); */
}

.navHeader active {
  color: black;
  background: #FFFDD0;
}

.navHeader a {
  color: #808080;
  /* color: #3B3B38; */
}

.navHeader a:hover {
  color: #FFFDD0;
}