.footer {
  background: #424242;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer a img {
  height: 8vh;
  width: 8vh;
  border-radius: 10%;
}

/* .footer img {
  max-width: auto;
  max-height: 10em;
  border: .25em solid black;
  border-radius: 2em;
} */

/* .footer a h1 {
  margin: 0;
  padding-top: 1em;
  text-align: center;
  color: #bdbdbd;
  font-size: 3rem;
} */

/* NEWLY ADDED */
/* .footer {
  display: flex;
  justify-content: space-between;
} */

/* .footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
} */

/* .footer a:hover {
  opacity: 100%;
} */

.footerZoom {
  transition: transform 0.2s;
}

.footerZoom:hover {
  transform: scale(1.1);
}