.footer {
    /* background: linear-gradient(white, black);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
  background: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer a img {
  height: 8vh;
  width: 8vh;
  border-radius: 10%;
  margin-right: .75em;
}

/* .footer img {
  max-width: auto;
  max-height: 10em;
  border: .25em solid black;
  border-radius: 2em;
} */

.footer a {
  margin: 0;
  /* padding-top: 1em; */
  text-align: center;
  color: #bdbdbd;
  /* font-size: 3rem; */
}

.footer a:hover {
  color: #FFFDD0;
}

/* NEWLY ADDED */

/* .footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
} */

/* .footer a:hover {
  opacity: 100%;
} */

.footerZoom {
  transition: transform 0.2s;
}

.footerZoom:hover {
  transform: scale(1.1);
}